@import "tailwindcss";

@theme {
  --color-sunset-start: #F4AC86;
  --color-sunset-end: #C85646;
  --color-valid: #2a9d8f;
  --color-error: #e76f51;
  
  --font-display: "Outfit", sans-serif; /* Example modern font */
  --font-body: "Inter", sans-serif;
}

body {
  margin: 0;
  min-height: 100dvh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(to bottom, var(--color-sunset-start), var(--color-sunset-end));
  color: white;
  font-family: var(--font-body);
  user-select: none;
  -webkit-user-select: none;
}

#root {
  height: 100dvh;
  width: 100%;
}
